.site-logo {
    background-position: center;
}

.site-title {
    transition: opacity 0.3s ease;
}

.site-title:hover {
    background-image: none;
    opacity: 0.5;
}

.nav-list .nav-list-item .nav-list-link,
.nav-list .nav-list-item .nav-list-expander {
    transition: .25s;
    background-image: none;
    font-size: 15px;
    border-radius: 7px 0 0 7px;
}

.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-expander:hover {
    background: #fff0f0;
}

.nav-list .nav-list-item .nav-list-link.active {
    background-image: none;
    background: lighten(#fff0f0, 1%);
}

.anchor-heading svg {
    visibility: visible;
    opacity: 0;
    transition: .15s ease;
}

h4:hover .anchor-heading svg {
    opacity: 1;
}

p {
    font-size: $font-size-4;
}

h4 {
    margin-top: 25px;
    box-shadow: 0 1px #ddd;
    font-size: $font-size-5;
}

li {
    font-size: $font-size-4;
}

div.side-bar {
    background-image: linear-gradient(90deg, #f0f0f0 0%, #fafafa 50%, #fff 100%);
}
