.site-logo {
    background-position: center;
}

.site-title {
    transition: opacity 0.3s ease;
}

.site-title:hover {
    background-image: none;
    opacity: 0.5;
}

.nav-list .nav-list-item .nav-list-link,
.nav-list .nav-list-item .nav-list-expander {
    transition: .25s;
    background-image: none;
    border-radius: 7px 0 0 7px;
    font-size: 15px;
}

.nav-list .nav-list-item .nav-list-link:hover {
    background: #fff;
}

.nav-list .nav-list-item .nav-list-link.active {
    background-image: none;
    box-shadow: inset 0 0 25px -1px #fff;
}

.nav-list .nav-list-item .nav-list-expander:hover {
    background: #fff0f0;
}

p {
    font-size: $font-size-4;
}

h4 {
    text-decoration: underline;
    text-decoration-color: #aaa;
}

div.side-bar {
    background-image: linear-gradient(90deg, #ddd 0%, #fafafa 50%, #fff 100%);
}
