.site-logo {
    background-position: center;
}

.site-title {
    transition: opacity 0.3s ease;
}

.site-title:hover {
    background-image: none;
    opacity: 0.5;
}

.site-nav {
    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        background: #ffff;
    }

    &::-webkit-scrollbar-thumb {
        background: darken(#fff0f0, 1%);
        transition: .25s ease;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: darken(#fff0f0, 5%);
    }
}

.nav-list .nav-list-item .nav-list-link,
.nav-list .nav-list-item .nav-list-expander,
.site-button {
    transition: .25s;
    background-image: none;
    font-size: 15px;
    border-radius: 7px 0 0 7px;
}

.nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(90deg, #fff0, #fff0f0 100%);
}

.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-expander:hover,
.site-button:hover {
    background: #fff0f0;
}

.site-button {
    border-radius: 2px;
    font-size: 18px;
}

code,
.highlighter-rouge,
.highlight,
.rouge-gutter,
.rouge-code,
pre,
pre.lineno {
    background-color: lighten(#fff0f0, 2%) !important;
}

pre.lineno {
    width: 20px !important;
    text-align: left;
}

.rouge-table tbody tr {
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: 1fr;
}

td.rouge-gutter.gl {
    padding-right: 10px !important;
}

pre.lineno {
    padding-right: 15px;
    text-align: left;
    box-shadow: 1px 0 #aaa;
}

.anchor-heading svg {
    visibility: visible;
    opacity: 0;
    transition: .15s ease;
}

h4:hover .anchor-heading svg {
    opacity: 1;
}

p {
    font-size: $font-size-4;
}

h4 {
    margin-top: 25px;
    box-shadow: 0 1px #ddd;
    font-size: 16px;
}

li {
    font-size: $font-size-4;
}

div.side-bar {
    background-image: linear-gradient(90deg, #f0f0f0 0%, #fafafa 50%, #fff 100%);
}
