$jacy-color: #f46d6d;

$link-color: darken($jacy-color, 10%);

$font-size-1: 11px !default;
$font-size-1-sm: 12px !default;
$font-size-2: 13px !default; //h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 14px !default; //h5
$font-size-4: 16px !default;
$font-size-5: 18px !default; //h3
$font-size-6: 20px !default; //h2
$font-size-7: 24px !default;
$font-size-8: 32px !default; //h1
$font-size-9: 36px !default;
$font-size-10: 42px !default;
$font-size-10-sm: 48px !default;